// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here

#logo {
    padding: 18px;

    img {
        padding: 1rem 4rem;
    }
}

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: none;
    }
}

.menubar {
    width: 30px;
    height: 4px;
    background-color: #000;
    position: relative;
}

.menubar::after {
    content: '';
    width: 30px;
    height: 4px;
    top: 7px;
    background-color: #000;
    left: 0;
    position: absolute;
}
.menubar:before {
    content: '';
    width: 30px;
    height: 4px;
    top: 15px;
    background-color: #000;
    left: 0;
    position: absolute;
}

#wrapper {
    background: url("../public/home_bg.png"), linear-gradient(to bottom right, #444446c7, #0f0e0e);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    padding: 0;
   
}
.corner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: -15px;
}

.image-container {
    width: 100%;
    .corners{
    object-fit: contain;
    width: 100% !important;
    
    height: unset !important;
    }
}
.header-Home {
    text-align: center;
    color: #fff;
    padding: 2.5rem;
    max-width: 1920px;
    margin: auto;

    h1 {
        font-size: 2rem;
        font-weight: 400;
        font-style: normal;
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        font-style: normal;
    }
}

.main-Intro {
    article {
        margin: 2.5rem auto;
    }
    background-image: url('../public/behind-m.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;

    h2 {
        font-size: 1.8rem;
        font-weight: 400;
        color: #7510B7;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
    }

    justify-content: center;
    width: 100%;

    .main-Intro__image {
        padding: 2.5rem;
    }

    button {
        padding: 10px;
        border-style: none;
        border-radius: 10px;

        a {
            padding: 1rem;
            font-size: 1.25rem;
            color: #5D5D5D;
        }
    }
}

.service-container {
    h2 {
        color: #fff;
        font-size: 1.87rem;
        text-align: center;
        padding-top: 2rem;
    }

    h3 {
        font-size: 1.25rem;
        font-weight: 600;
    }

    p {
        font-size: 0.93rem;
        display: -webkit-box;

    }
    .truncate {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .untruncate {
        display: block;
    }
    section {
        margin: 0.5rem;

    }

    article {
        width: 100%;
        background-color: #fff;
        padding: 1rem;
        margin: 15px auto 50px;
        border-radius: 5px;
        text-align: center;
    }

    background-image: url("../public/diensten_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    button {
        background: #f9f9f9;
        padding: 8px;
        border-style: none;
        border-radius: 10px;

        a {
            padding: 1rem;
            font-size: 1rem;
            color: #5D5D5D;
        }
    }
    .bg-intro{
    display: none;
    }
}
.review-container {
    .bglight{
        width: 100%;
    }
    text-align: center;
    padding: 3rem;
    h2 {
        color: #000;
        font-size: 1.87rem;
        text-align: center;
        padding: 2rem;
        position: relative;
        span {
            position: absolute;
            top: 15px;
            z-index: -1;
        }
    }
    .row {
        justify-content: center;
        margin-bottom: 2rem;
    }
    .rating {
        margin: 1rem;
    }

    .review-article {
        padding: 2rem;
        background: #fff;
        width: 360px;
        border-radius: 5px;
        box-shadow: 6px 6px 7px;
        margin-bottom: 2rem;
        h3 {
            font-size: 1.25rem;
            padding: 1rem;
        }
        p {
            font-size: 1.125rem;
            font-style: italic;
            font-weight: 300;
        }
    }
    .rating {
        width: 100%;
        height: 50px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transform: translate(-5%);
        padding: 1rem 3rem;
    }

    .slick-arrow {
        color: transparent;
        background-color: #000;
        border-radius: 100px;
    }
    .icon {
        color: gold;
        width: 2rem;
        height: 2rem;
    }
    .navBtn {
        display: flex;
        justify-content: center;
    }
    .square {
        width: 12px;
        height: 12px;
        background: #D8D8D8;
        margin-right: 14px;
    }
    .active {
        transform: scale(2);
        background: #7510B7;
    }
}
.info-container {
    text-align: center;
    background-image: url("../public/background-info.png");
    background-position: center center;
    background-size: cover;
    padding: 2rem;
    h3 {
        padding: 2rem 0;
        color: #fff;
    }
    button {
        border-radius: 5px;
        border-style: none;
        padding: 10px 30px;
    }
    a {
        font-size: 1rem;
        font-weight: 700;
        color: #000;
        padding: 0 11px;
    }
    

}
.footer-section{
    
    flex-direction: column;
    padding: 2rem 0; 
    ul{
        padding-left: 0;
        li{
            margin: 1rem 0;
        }
        a{
            color: #000;
            font-weight: 300;
        }
    }
    .footer-logo {
        max-width: 6.75rem;
        margin-bottom: 3rem;
}
.footer-adress {
    li{
        a{
            margin: 0 1rem;
        }
    }
}
.footer-social{
    ul{
        display: flex;
        flex-direction: row;
    }
    
    svg{
        width: 25px;
        height: 25px;
    }
}
}

@media screen and (min-width: 768px) {
    .info-container {
        padding: 5rem;
    }
    .service-container {
        article {
            max-width: 500px;
        }
    }
    .review-article {
        margin: 2rem;
    }
    // .main-Intro{
    //     background-image: url("../public/pc-bg.png");
    //     background-repeat: no-repeat;
    //     background-position: center;
        
    // }
}
@media screen and (min-width: 992px) {
    .service-container {
        background-image: url("../public/diensten-d.png");
    }

    .header-Home {
        padding: 5rem;
        h1 {
            font-size: 3.4rem;

        }
    
        p {
            font-size: 1.5rem;
        }
    }

    .main-Intro__image {
        padding: unset;
        order: 2;
    }

    .menu {
        justify-content: flex-end;
    }
    .review-article {
        justify-content: center;

    }
    .review-container {
        .row {
            justify-content: center;
        }
    }
    .footer-section{
        flex-direction: row;
    }
}
@media screen and (min-width: 1200px) {
    .menubar {
        display: none;
    }

    .menu {
        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;

            a {
                font-size: 1.5rem;
                font-weight: 300;
                color: #000 !important;
            }
        }
    }

    .header-Home {
        padding: 10rem;
    }

    .main-Intro {
        background: unset;
        .main-Intro__image {
            padding-left: 3rem;
            padding-top: 2rem;
        }

        h2 {
            font-size: 3.75rem;
            font-weight: normal;
            margin-bottom: 2rem;
        }

        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 1.5rem;
            font-weight: 300;
        }

        article {
            margin: 5rem auto;
            width: 100%;
        }

        button {
            a {
                font-size: 1.5rem;
            }
        }
    }
    .service-container {

        h2 {
            font-size: 2.5rem;
            color: #000;
            display: inline-flex;
            width: 100%;

        }

        h3 {
            font-size: 1.8rem;
            font-weight: 600;
            margin: 1rem auto;
        }

        p {
            font-size: 1.125rem;
        }

        article {
            margin: 15px 15px 50px auto;
        }
    }
    .review-container {
        h2 {
            font-size: 2.5rem;
        }

    }
    .footer-section{
        
        .footer-logo {
        max-width: 9rem;
    }
    .footer-social {
        svg{
            width: 35px;
            height: 35px;
        }
    }
    }
    
}
@media screen and (min-width: 1400px) {
    
    .header-Home {
        padding: 15rem;
    }
    .review-container{
        position: relative;
        .bglight{
            position: absolute;
            left: -380px;
            top: 0;
            z-index: -1;
            filter: opacity(.3);
        }
    
    }
    .service-container {
        position: relative;
        overflow-x: clip;
        .bg-intro{
            display:block;
            position: absolute;
            top: -575px;
            right: -600px;
            filter: opacity(.9);
            }
        padding: 3rem;

        section {
            justify-content: center;
        }

        article {
            margin: 1.5rem;
            z-index: 1;

        }
    }
}
