// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here

#logo {
    padding: 18px;
    img{
        padding: 1rem 4rem;
    }
}
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        display:none;
    }
}
.menubar {
    width: 30px;
    height: 4px;
    background-color: #000;
    position: relative;
}
.menubar::after {
    content: '';
    width: 30px;
    height: 4px;
    top: 7px;
    background-color: #000;
    left: 0;
    position: absolute;
}
.menubar:before {
    content: '';
    width: 30px;
    height: 4px;
    top: 15px;
    background-color: #000;
    left: 0;
    position: absolute;
}

#wrapper {
    background: url("../public/home_bg.png"), linear-gradient(to bottom right,#444446c7,#0f0e0e);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;

}

.header-Home {
    text-align: center;
    color: #fff;
    padding: 2.5rem;
    h1 {
        font-size: 3.4rem;
        font-weight: 400;
        font-style: normal;
    }
    p {
        font-size: 1.5rem;
        font-weight: 400;
        font-style: normal;
    }
}
.main-Intro{
    article{
        margin: 2.5rem auto;
    }
    h2{
        font-size: 1.8rem;
        font-weight: 400;
        color: #7510B7;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    justify-content: center;
    width: 100%;
    .main-Intro__image{
        padding: 2.5rem;
    }
    button{
        padding: 10px;
        border-style: none;
        border-radius: 10px;
        a{
            padding: 1rem;
            font-size: 1.25rem;
            color: #5D5D5D;
        }
    }
}

.service-container{
    h2{
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
        padding: 10px;
    }
    section{
        margin: .5rem;
    }
    article{
        width: 100%;
        background-color: #fff;
        padding: 2rem;
        margin: 15px auto;
        border-radius: 5px;
        text-align: center;
    }
    background-image: url("../public/diensten-d.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 992px) {
    .header-Home{
        padding: 5rem;
    }
    .main-Intro__image{
        padding: unset;
        order: 2;
    }
    .menu{
        justify-content: flex-end;
    }
    }
@media screen and (min-width: 1200px) {
    .menubar{
        display: none;
    }
    .menu{
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
                a{
                    font-size: 1.5rem;
                    font-weight: 300;
                    color:#000 !important;
                }
        }
    }

.header-Home{
    padding: 10rem;
}
.main-Intro{
    .main-Intro__image{
        padding-left: 3rem;
        padding-top: 2rem;
    }
    h2{
        font-size: 3.75rem;
        font-weight: normal;
        margin-bottom: 2rem;
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
        font-weight: 300;
    }
    article{
        margin:5rem auto;
        width: 100%;
    }
    button{
        a{
            font-size: 1.5rem;
        }
    }

}

    }
@media screen and (min-width: 1400px) {
    .header-Home{
        padding: 15rem;
    }
    }
